body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero {
    background-image: url(../img/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero-content P {
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid white;
    margin-top: 40px;
}

.hero nav ul {
    text-align: right;
    margin: 25px 25px;
}

.hero nav li {
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 10px;
}

.hero nav a {
    background:rgba(0,0,0,0.1);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.hero nav a:hover {
    background:rgba(0,0,0,0.3);
}

main {
    width: 90%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2 {
    margin-right: 2%;    
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: rgb(75, 75, 75);
    color: white;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
}

.article header {
    background-color: rgb(221, 221, 221);
    border: 1px solid white;
    border-bottom: 3px solid rgb(189, 189, 189);
    padding: 0;
}

.article h2 {
    padding-left: 10px;
}

footer {
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
    text-shadow: 2px 2px 2px black;
    height: 80px;
    line-height: 80px;
}

